# These are dependencies required to run our flaskapp on production server thus; named "prod_requirements.txt"

dagshub==0.4.2
Flask==3.1.0
mlflow==2.19.0
mlflow_skinny==2.19.0
numpy==2.2.1
pandas==2.2.3
